<ul class="collection">
  <li
    (click)="selectVideo(video)"
    [class.active]="selectedVideo?.id === video.id"
    class="collection-item"
    *ngFor="let video of videosList"
  >
    <app-video-card [video]="video"></app-video-card>
  </li>
</ul>
