<div class="row">
  <app-video-list
    [selectedVideo]="selectedVideo | async"
    [videosList]="videoList | async"
    class="col s3"
  ></app-video-list>

  <app-video-play
    [selectedVideo]="selectedVideo | async"
    class="col s6"
  ></app-video-play>
  <app-stat-filters class="col s3"></app-stat-filters>
</div>
